
<div class="modal modal-md fade" 
        data-bs-backdrop="static" data-bs-keyboard="true"  
        id="categoryModal" tabindex="-1" aria-hidden="true"
        aria-labelledby="categoryModalLabel" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="categoryModalLabel">Adicionar Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form id="form-new-category">
            <div class="row d-flex justify-content-center">
                <input type="text" id="id" name="id" hidden>
                <div class="form-group col-md-6">
                    <label for="name">Nome</label>
                    <input id="name" name="name" type="text" class="form-control form-control-sm capitalize-mask">
                </div>

                <div class="form-group col-md-6">
                    <label for="order">Ordem</label>
                    <input id="order" name="order" type="text" maxlength="15" class="form-control form-control-sm numbers-only">
                </div>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-sm btn-primary">
                    Salvar
                </button>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>