
<div class="modal modal-lg fade" 
        data-bs-backdrop="static" data-bs-keyboard="true"  
        id="deleteModal" tabindex="-1" aria-hidden="true"
        aria-labelledby="deleteModalLabel" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Deletar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form id="form-delete">
            <div class="row d-flex justify-content-center text-center">
                <input type="text" id="delete-id" name="id" hidden>
                <h5>Tem certeza que deseja deletar <span id="delete-name"></span>?</h5>
                <p class="text-danger"><strong>Essa ação não pode ser desfeita!</strong></p>
                <p>
                  <strong id="delete-message" class="text-danger"></strong>
                </p>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-sm btn-danger">
                    Deletar
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>