{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Categorias</title>
{% endblock %}

{% block content %}

<main class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categorias</li>
        </ol>
    </nav>

    <button class="btn btn-sm btn-primary" id="add-category-button">
        <i class="bi bi-plus-circle"></i> Adicionar Categoiria
    </button>


    <h4 class="mt-5 text-muted fw-semibold">Categorias</h4>

    <div class="category_list mt-3"></div>
</main>

{% include 'partials/category_modal.html' %}
{% include 'partials/delete_modal.html' %}
{% include 'partials/product_modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard/product.js' %}"></script>
<script src="{% static 'js/dashboard/category.js' %}"></script>
{% endblock %}